@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap');  
html {
		font-family: 'Source Code Pro', monospace;
		background-color: #002b36;
		color: #839496
}

.current {
				color: #93a1a1;
				text-decoration: none
}

.nav {
				text-decoration: none;
				color: #839496;
				background-color: #002b36
}
.navbar {
				position: fixed;
				top: 0;
				width: 100;
}

.main {
				margin-top: 10px;
}

.link {
				color: #839496;
				text-decoration: underline;
}
